
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik+Moonrocks&family=Shrikhand&display=swap');
body{
  width: 100%;
}
#logo{
  border: dotted 2.5px pink;
  padding: 20px 10px;
  text-decoration-style: none;
  margin: 10px 20px;
  font-size: 2.5vh;
  color:white;
  font-family: 'Shrikhand', cursive;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 18vh;
  background: #56da75;
}


nav a{
  text-decoration: none;
  color:white;
  font-size: 1.75vh;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Shrikhand', cursive;
}

.nav-links{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
  border: dotted 2.5px pink;
  padding: 10px;
  margin: 10px 19px;  
}
#home{
  text-align: center;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
}
#home h1, h2{
  color: rgb(0, 128, 87);
  font-family: 'Righteous', cursive;
}
#home h1{
  margin: 25px 0 5px;
}
#home h2{
  font-size: 2.5vh;
  margin: 10px 15px 20px;
}
#home-img{
  display: block;
  margin: 0 auto;
  width: 75%;
}
#items-div{
  margin: 5px;
  font-size: 2vh;
  text-align: center;
}
#item-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 1px black;
  margin: 15px auto;
  padding: 5px;
  width: 75%;
  height: 175px;
}
#item-map a{
  font-size: 2.5vh;
  text-decoration: none;
  color:#3c9951;
  font-family: 'Shrikhand', cursive;
}
#item-map p{
  color:rgb(205, 136, 147);
  font-family: 'Shrikhand', cursive;
}

#map-img{
  width: 18vw;
  margin: 5px auto;
}

#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  margin: 10px;
}

#item-show{
  margin:15px auto;
  display: block;
  font-size: 2.5vh;
  width: 85%;
  border: solid 1px black;
  padding:15px;
  text-align:center;
}
#item-show img{
  display: block;
  margin: 0 auto;
  border: solid 1px black;
  height:20vh;
}
#img-show{
  width:auto;
}
#modal-img{
  border:solid 2px salmon;
}
#item-title{
  color:green;
  font-size: 4vh;
  font-family: 'Shrikhand', cursive;
}
#item-details{
  margin: 20px 0;
  font-family: 'Righteous', cursive;
}
#item-details h3{
  font-size: 2vh;
  color:rgb(191, 107, 121);
}
#item-show h3{
  text-align: left;
  display:block;
  margin: 10px;
  letter-spacing: 1.5px;
}
#edit-link{
  color:green;
  font-size: 3vh;
  font-family: 'Righteous', cursive;
}
#delete-button, #back{
  border: none;
  color:Red;
  background-color: pink;
  padding: 2px 15px;
  margin: 5px;
}
#delete-div{
  display: flex;
  justify-content: flex-end;
}
#back{
  color:black;
  background-color:rgb(215, 210, 210);
}
#confirm{
  text-align: center;
  font-size: 3.2vh;
}
#oops, #confirm-delete{
  height:6vh;
  width: 55%;
  display: block;
  margin: 15px auto;
  border: dashed 2px pink;
  background-color: #83df98;
}
#confirm-delete{
  background-color: rgb(243, 55, 55);
  color:white;
}

#about-div{
  display: block;
  color:rgb(33, 118, 110);
  padding:20px;
  margin: 20px auto;
  width: 85vw;
  border: solid 1px black;
  font-size: 3vh;
  text-align: left;
  font-family: 'Rubik Moonrocks', cursive;
}
#about-div h2{
  font-family: 'Rubik Moonrocks', cursive;
  text-align: center;
  color:rgb(211, 157, 166);
}
#about-div img{
  display: block;
  margin: 5px auto;
  width: 25%;
}
#about-list{
  text-align: left;
}
#add{
  border: dotted 2px #56da75;
  height:6vh;
  padding: 0 20px;
  background-color: rgb(248, 205, 212);
  color:green;
  font-size: 3vh;
  font-weight:500;
  margin: 20px auto 50px;
  font-family: 'Rubik Moonrocks', cursive;
}
#create-form{
  padding:10px;
  border: solid 5px green;
  font-family: 'Righteous', cursive;
}
#create-form div{
  padding:10px;
}
#create-form input{
  margin-left: 5px;
}
#create-form button{
  color:rgb(58, 124, 49);
  border:solid 1px pink;
  padding: 2px 15px;
}
#create-submit{
  display: flex;
  justify-content: flex-end;
}
#details input{
  padding: 20px;
  width: 100%;
}
#radio{
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
#edit-title{
  text-align: center;
  color:rgb(78, 162, 134);
  font-family: 'Shrikhand', cursive;
  margin-top: 10px;
}
#edit-form{
  border: solid 1px black;
  width: 70%;
  display: block;
  margin: 15px auto 0;
  padding: 5px;
  font-family: 'Righteous', cursive;
}
#edit-form div{
  padding:13px;
  font-size: 2vh;
}
#edit-form button, #submit-photo button{
  margin: 10px;
  border:none;
  background-color: #56da75;
  color:white;
  font-weight: 800;
  padding: 5px 20px;
}
#save-edits{
  display: flex;
  justify-content: flex-end;
}
#photo-back-buttons{
  display: flex;
  justify-content: space-between;
  margin:0;
}

#edit-details input{
  width: 100%;
}
#edit-photo{
  padding:10px;
}
#photo-form, #modal-header{
   border:none;
   font-family: 'Righteous', cursive;
}
#photo-modal{
  color:black;
  margin: 10px auto 0;
}
#photo-form input{
  display: block;
  margin: 0 auto;
  background-color: #a9d1b3;
}
#submit-photo{
  display: flex;
  justify-content: flex-end;
  margin: 5px 15px;
}
#hidden{
  display: none;
}
#delete{
  border:solid 1px red;
  padding: 5px 15px;
  color:red;

}
@media only screen and (min-width: 768px) {  
  body{
    display: block;
  }
  #logo{
    font-size: 4vh;
    margin: 30px;
  }
  nav{
    justify-content: space-between;
  }
  nav a{
    font-size: 3vh;
  }
  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #home-img{
    margin: 30px auto;
    width: 55%;
  }
  #home h2{
    font-size: 3.5vh;
    margin: 15px 0 10px;
  }
  #about-div{
    padding:20px 50px 50px;;
    width: 50%;
    border: solid 1px black;
  }

  #item-map a{
    font-size: 3.5vh;;
  }
  #item-map{
    width:55%;
    height: 375px;
  }
  #item-map p{
    font-size: 3vh;
  }
  #map-img{
    margin: 15px;
    border: solid 1px black;
  }
  #item-show{
    width: 70%;
  }
  #item-show img{
    height:40vh;
  }
  #item-title{
    font-size: 5vh;
  }
  #item-details{
    border: solid 1px black;
    width: 75%;
    display:block;
    margin: 5px auto;
  }
  #item-details h3{
    font-size: 3vh;;
  }
  #edit-form div{
    padding:5px;
    font-size: 3vh;
  }
  #radio{
    width:55%;
  }
}