/* .App {
  text-align: center;
} */

#logo{
  border: dotted 2px yellow;
  padding: 10px;
  color:white;
  text-decoration-style: none;
  margin: 10px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 18vh;
  background: #56da75;
  color:white;
}
nav a{
  text-decoration: none;
  color:white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  border: dotted 2px yellow;
  padding: 10px;
  margin: 10px;  
}
#home{
  text-align: center;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
}
#home h1, h2{
  color: rgb(0, 128, 87);
}
#home h1{
  margin: 25px 0;
}
#home img{
  display: block;
  margin: 0 auto;
}
#items-div{
  margin: 5px;
  font-size: 2vh;
  text-align: center;
}
#item-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 1px black;
  margin: 15px auto;
  padding: 5px;
  width: 55%;
}
/* #item-map{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
} */
#single-item{
  margin:15px;
  display: grid;
  gap: 20px;
  font-size: 3vh;
  width: 45%;
  border: solid 1px black;
}

#item-img{
  width: 40vw;
  display:block;
  margin: 0 auto;
  border: solid 1px black;
}
#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  margin: 10px;
}
#map-img{
  width: 18vw;
}
#item-show{
  margin:15px auto;
  display: block;
  font-size: 3vh;
  width: 45%;
  border: solid 1px black;
  padding:15px;
  text-align:center;
}
#item-show img{
  display: block;
  margin: 0 auto;
  border: solid 1px black;
  height:40vh;
}
#item-title{
  color:green;
}
#item-details{
  margin: 20px 0;
}
#item-show h3{
  text-align: left;
  display:block;
  margin: 10px;
}
#edit-link{
  color:green;
  font-size: 3vh;
}
#delete-button{
  border: none;
  color:Red;
  background-color: antiquewhite;
  padding: 2px 15px;
}
#delete-div{
  display: flex;
  justify-content: flex-end;
}

#about-div{
  display: block;
  color:blue;
  padding:20px 50px 50px;;
  margin: 20px auto;
  width: 50%;
  border: solid 1px black;
}
#about-list{
  text-align: left;
}
#add{
  border: dotted 2px #56da75;
  height:6vh;
  padding: 0 20px;
  background-color: rgb(231, 231, 73);
  color:green;
  font-size: 3vh;
  font-weight:500;
  margin: 20px auto 50px;
}
#create-form{
  padding:10px;
  border: solid 5px green;
}
#create-form div{
  padding:10px;
}
#create-form input{
  margin-left: 5px;
}
#details input{
  padding: 20px;
  width: 100%;
}
#radio{
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
#edit-title{
  text-align: center;
  color:rgb(78, 162, 134);
}
#edit-form{
  border: solid 1px black;
  width: 70%;
  display: block;
  margin: 15px auto 0;
  padding: 5px;
}
#edit-form div{
  padding:5px;
}
#edit-form button, #submit-photo button{
  margin: 10px;
  border:none;
  background-color: #56da75;
  color:white;
  font-weight: 800;
  padding: 5px 20px;
}
#save-edits{
  display: flex;
  justify-content: flex-end;
}
#photo-back-buttons{
  display: flex;
  justify-content: space-between;
  margin:0;
}
#edit-details input{
  width: 100%;
}
#edit-photo{
  padding:10px;
}


#photo-form, #modal-header{
   border:none;
}
#photo-modal{
  color:black;
  margin: 10px auto 0;
}
#photo-form input{
  display: block;
  margin: 0 auto;
  background-color: #a9d1b3;
}
#submit-photo{
  display: flex;
  justify-content: flex-end;
  margin: 5px 15px;
}
#hidden{
  display: none;
}
#delete{
  border:solid 1px red;
  padding: 5px 15px;
  color:red;

}
